@mixin clearfix {
  &:before {
    content: "";
    display: table;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin sticky-footer($footer-height, $wrapper-selector: unquote("#wrapper"), $push-selector: unquote("#push"), $footer-selector: unquote("#footer")) {
  html, body {
    height: 100%;
  }
  #{$wrapper-selector} {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -$footer-height;
  }
  #{$push-selector} {
    height: $footer-height;
  }
  #{$footer-selector} {
    height: $footer-height;
  }
}

@mixin prefix($name, $value) {
  -webkit-#{$name}: $value;
  -moz-#{$name}: $value;
  -o-#{$name}: $value;
  #{$name}: $value;
}

@mixin box-shadow($params...) {
  @include prefix(box-shadow, $params);
}

@mixin transform($params...) {
  @include prefix(transform, $params);
}

@mixin transition($params...) {
  @include prefix(transition, $params);
}

@mixin aal()
{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@mixin ellipsis() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin grad($angle, $color-stops...) {
  $_angle-with-vendor-prefix: "";
  $_angle: "";
  @if $angle == "to top" or $angle == "bottom" {
    $_angle-with-vendor-prefix: bottom;
    $_angle: to top;
  } @else if $angle == "to right" or $angle == "left" {
    $_angle-with-vendor-prefix: left;
    $_angle: to right;
  } @else if $angle == "to bottom" or $angle == "top" {
    $_angle-with-vendor-prefix: top;
    $_angle: to bottom;
  } @else if $angle == "to left" or $angle == "right" {
    $_angle-with-vendor-prefix: right;
    $_angle: to left;
  } @else if $angle == "to top right" or $angle == "bottom left" {
    $_angle-with-vendor-prefix: bottom left;
    $_angle: to top right;
  } @else if $angle == "to bottom right" or $angle == "top left" {
    $_angle-with-vendor-prefix: top left;
    $_angle: to bottom right;
  } @else if $angle == "to bottom left" or $angle == "top right" {
    $_angle-with-vendor-prefix: top right;
    $_angle: to bottom left;
  } @else if $angle == "to top left" or $angle == "bottom right" {
    $_angle-with-vendor-prefix: bottom right;
    $_angle: to top left;
  } @else {
    $_angle-with-vendor-prefix: $angle % 360;
    $_angle: (90 - $angle) % 360;
  }

  background: -webkit-linear-gradient($_angle-with-vendor-prefix, $color-stops);
  background: -moz-linear-gradient($_angle-with-vendor-prefix, $color-stops);
  background: -o-linear-gradient($_angle-with-vendor-prefix, $color-stops);
  background: linear-gradient($_angle, $color-stops);
}

@mixin triangle($width: 20px, $height: 20px, $direction: up, $color: red) {

  width: 0;
  height: 0;

  // Right
  @if $direction == right {
    border-top: $height/2 solid transparent;
    border-bottom: $height/2 solid transparent;
    border-left: $width solid $color;
  }

  // Left
  @if $direction == left {
    border-top: $height/2 solid transparent;
    border-bottom: $height/2 solid transparent;
    border-right: $width solid $color;
  }

  // Up
  @if $direction == up {
    border-left: $width/2 solid transparent;
    border-right: $width/2 solid transparent;
    border-bottom: $height solid $color;
    border-style: none dotted solid;
  }

  // Down
  @if $direction == down {
    border-left: $width/2 dotted transparent;
    border-right: $width/2 dotted transparent;
    border-top: $height solid $color;
  }

  // Up-Left
  @if $direction == up-left {
    border-top: $height solid $color;
    border-right: $width solid transparent;
  }

  // Up-Right
  @if $direction == up-right {
    border-top: $height solid $color;
    border-left: $width solid transparent;
  }

  @if $direction == down-right {
    border-bottom: $height solid $color;
    border-left: $width solid transparent;
  }

  @if $direction == down-left {
    border-bottom: $height solid $color;
    border-right: $width solid transparent;
  }
}