###################################
## files with extensions to exclude
www.*_*.xml
thumbs.db
Thumbs.db
###################################
## scripts to exclude
/app/config/*_local.php
/robots.txt
/test.php
/.idea/**
node_modules/
bower_components/
vendor/
composer.lock
www/static/temp/
www/media/
www/static_admin/temp/
/www/Nginx-1.10_vhost.conf
/app/runtime/
