.message-row {
  margin-bottom: 5px;

  input {
    margin-bottom: 0;
  }

  .message-to {
    position: relative;

    .success-saved {
      @include transition(all 0.5s);

      opacity: 0;
      right: -5px;
      display: block;
      position: absolute;
      line-height: 15px;
      top: 9px;
      width: 20px;
      height: 20px;
      background-color: rgba(140, 200, 140, 1);
      text-align: center;
      border-radius: 3px 0 0 3px;
      color: #ffffff;
      font-size: 12px;

      i {
        position: relative;
        top: 3px;
      }
    }

    .auto, .move {
      position: absolute;
      line-height: 15px;
      width: 20px;
      height: 18px;
      background-color: rgba(140, 200, 140, 1);
      text-align: center;
      border-radius: 3px 0 0 3px;
      color: #ffffff;
      cursor: pointer;
      font-size: 12px;

      i {
        position: relative;
        top: 2px;
      }
    }

    .move {
      left: -4px;
      top: 0px;
    }

    .auto {
      left: -4px;
      bottom: 0;
    }

  }

  &.saved {
    .message-to{
      .success-saved {
        right: 15px;
        opacity: 1;
      }
    }
  }
}

.message-row.hidden {
  display: none;
}

.module-holder.hidden {
  display: none;
}

.dict-holder.hidden {
  display: none;
}