.sticky {
  width: 100%;
}

//.sticky-container {
//  @include breakpoint(large down) {
//    height: auto !important;
//  }
//}

* {
  outline: none;
}

.color-red {
  color:red;
}


.highlight {
  background-color: #fffaad;
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.bad {
  color: #ed1c24;
}

.multiline {
  display: inline-block;
  line-height: 1.3;
  width: 100%;
  vertical-align: middle;
}

menu {
  &.no-bullet {
    list-style: none;
  }
}

.bg-dark-blue {
  background: {
    //color: #223c4b;
    color: #4d626f;
    //image: url('../images/page-bg/dark-page-bg-origin.jpg');
    position: center center;
    size: cover;
  };

  @include breakpoint(xxxl up) {
    background: {
      image: url('../images/page-bg/dark-page-bg.jpg') !important;
      attachment: local;
    };
  }
}

.weight-light {
  font-weight: 400;
}
.weight-normal {
  font-weight: 500;
}
.weight-bold {
  font-weight: 600;
}
.weight-bolder {
  font-weight: 800;
}
.weight-black {
  font-weight: 900;
}