h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: black;
  text-align: left;
  white-space: pre-wrap;
  hyphens: auto;

  @include breakpoint(large up) {
    text-align: left;
  }
}

pre, code, xmp, plaintext, list{
  //display: block;
  line-height: 1.1em;
  margin: 1em 0px 1em;
  font: {
    size: rem-calc(12);
    family: Menlo, monospace;
  }
}

code {
  background:#F8F8FF;
  border:black dashed 1px;
}