.news-item {
  margin-bottom: 15px;
  border-bottom: 1px solid $clouds;
  padding-bottom: 10px;

  h5 {
    font-weight: 700;
  }
}

.version-container {
  border: 1px solid lighten($carrot, 20%);
  margin-bottom: 20px;
  padding: 10px 20px;
  .information-list {
    @include reset-list;
    li {
      margin-bottom: 10px;
      .version-error {
        color: $pomegranate;
      }
    }
  }
}
