.page {
  &.receipt-confirmation {
    padding-left: rem-calc(30);
    padding-right: rem-calc(30);

    h1{
      color: #fff;
      margin-bottom: rem-calc(30);
    }

    p {
      color: #d0eeff;
    }

    @include breakpoint(medium up) {
      //padding: 0;

      .vertical-middle {
        @include full-height();
      }
      .medium-order-1 {
        @include flex-order(1);
      }
    }

    .freddy {
      text-align: center;

      @include breakpoint(medium up) {
        text-align: right;
      }

      img {
        min-height: auto !important;
        max-height: rem-calc(226);

        @include breakpoint(sm up) {
          max-height: rem-calc(265);
        }
        @include breakpoint(medium up) {
          max-height: rem-calc(340);
        }
        @include breakpoint(large up) {
          max-height: rem-calc(432);
        }
      }
    }
  }
}