.error-page {
  .error-data {
    width: 750px;
    margin: 0 auto;

    .error-code {
      width: 280px;
      float: left;
      font-size: 150px;
      line-height: 150px;
      color: #007bc1;
      font-weight: 300;
    }

    .error-info {
      float: left;
      display: inline-block;
      height: 150px;
      line-height: 150px;
      width: 470px;
      padding-left: 20px;

      .error-title {
        font-size: 40px;
        line-height: 1;
        margin-bottom: 10px;
        font-weight: 300;
      }
      .error-description {

        font-size: 20px;
      }
    }
  }
}