.pages.page {
  &.on_amazon {
    @include full-height;
    margin: 0 ;
    padding: 0;
    background-color: #c1e5fa;
    background: {
      color: #c1e5fa;
      image: linear-gradient(to top, #e0f4ff 0%, #c4eaff 100%);
    };

    a {
      color: $black;
    }

    .map {
      padding: rem-calc(40) 0;
      border-bottom: 1px solid #afd5eb;
      margin-bottom: rem-calc(40);
    }

    .countries {
      max-width: rem-calc(220);
      margin: 0 auto;

      @include breakpoint(medium up) {
        max-width: rem-calc(1100);
      }

      .column-block {
        h2 {

        }
        ul {
          margin-top: rem-calc(20);

          li {
            margin-bottom: rem-calc(15);
            .title {
              margin-left: rem-calc(10);
            }
          }
        }
      }
    }

    .map-container {
      position: relative;
      vertical-align: middle;
      //background-image: url('../images/p/s3_amazon/s3_amazon_map.png');
      map {
        //display: block;
      }

      //.svg-map {
      //  width: 100%;
      //  height: auto;
      //
      //  path {
      //    fill: none;
      //  }
      //}
    }
  }
}