.pages.page {
  &.business-requests {
    @include breakpoint(sm down) {
      margin: 0;
      padding: 0;
    }

    h2 {
      font:{
        size: rem-calc(26);
        weight: 400;
      };

      @include breakpoint(medium up) {
        padding-bottom: rem-calc(30);
        font-size: rem-calc(30);
      }
    }

    p {
      font-size: rem-calc(18);
      font-weight: 400;
      line-height: 1.45;

      @include breakpoint(medium up) {
        font-size: rem-calc(16);
      }
    }

    form {
      @include breakpoint(medium up) {
        .form-field {
          .title-column {
            p {
              font-weight: 500;
              line-height: 1;
            }

            .form-hint-text,
            .optional {
              font-size: rem-calc(12);
            }
          }
        }
      }

      @include breakpoint(sm down) {
        .info-field {
          text-align: center;
          font-size: rem-calc(14);
        }
        .form-field {
          .title-column {
            margin-bottom: rem-calc(10);

            .label {
              & > * {
                font-size: rem-calc(20);
                font-weight: 700;
              }

              .optional {
                font-size: rem-calc(14);
                font-weight: 400;
              }
            }

            .form-hint-text {
              font-size: rem-calc(14);
              color: #777;
            }
          }
        }
      }

      .form-field {
        &.subject,
        &.message {
          .input-column {
            textarea,
            input {
              width: rem-calc(527);
              max-width: rem-calc(527);
            }
          }
        }

        @include breakpoint(sm down) {
          .input-column {
            input,
            textarea {
              width: 100% !important;
              max-width: 100% !important;
            }
          }
        }
      }
    }

    .submit {
      width: 140px;
      height: 44px;
      color: white;
      cursor: pointer;

      background-color: #ffb400;
      border: 2px solid #ffb400;
      @include border-radius(6px);

      font-size: rem-calc(18);
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .tabs {
    border: none;
    text-align: center;
    //margin: 0 auto;
    //width: 100%;
    //display: block;

    .tabs-title {
      float: none;
      display: inline-block;

      a {
        display: inline-block;
        color: #055a93;
        text-decoration: dashed;
        font-size: rem-calc(16);
        font-weight: 400;
        //height: rem-calc(35);
        //line-height: 1.3;
        line-height: rem-calc(35);
        vertical-align: middle;
        //padding: rem-calc(8) rem-calc(18);
        padding: 0 rem-calc(18);
      }

      &.is-active {
        a {
          background: none;
          color: inherit;
          border: 1px solid #ffb400;
          @include border-radius(8px);
        }
      }
    }
  }
  .tabs-content {
    border: none;
    //margin: 0 auto;
    //max-width: rem-calc(820);
  }

  .accordion {
    margin-bottom: 0;

    .accordion-item {
      .accordion-title {
        font-size: rem-calc(20);
        font-weight: 400;
        background-color: rgb(245, 245, 245);

        &, &:hover, &:focus {
          color: inherit;
        }
      }

      .accordion-content {
        border: none;
        margin-bottom: rem-calc(40);
      }

      &.is-active {
        .accordion-title {
          background-color: #dfe5e8;
          color: inherit;

          //&, &:hover, &:focus {
          //  color: inherit;
          //}
        }
      }
    }

  }
}