.front-endless-pager {
  .show-more {
    margin: rem-calc(20) 0;
    display: block;
    text-align: center;
    border-radius: 4px;
    font-size: rem-calc(18);
    line-height: 44px;
    height: 44px;

    .text {
      text-transform: uppercase;
    }
  }
}