@import "bourbon";
$loader-color: #27a3e5;
//$loader-color: rgba(#27a3e5, .5);



.loading {
  position: relative;
  //overflow: hidden;

  .loader-bg {
    z-index: 1000 !important;
    position: fixed;
    touch-action: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all .6s linear;
    background: {
      color: rgba(255, 255, 255, 1);
    };

    .loader-wrapper {
      position: relative;
      top: 50vh;
      left: 50vw;
      margin-left: -65px;
      margin-top: -65px;

      .loader-spinner {
        position: absolute;
        opacity: .5;
        animation: load 1.5s infinite linear;
        background: {
          image: linear-gradient(to top, $loader-color 10%, rgba(255, 255, 255, 0) 100%)
        };
        width: 130px;
        height: 130px;
        border-radius: 50%;

        &:before {
          @include position(absolute, 0 0);
          @include size(100%);
          background: {
            image: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, $loader-color 50%)
          };
          border-radius: 100px;
          content: '';
        }

        &:after {
          @include position(absolute, 0 0 0 0);
          @include size(125px);
          background: #fff;
          border-radius: 100%;
          content: '';
          margin: auto;
        }
      }
      .loader-container {
        position: relative;
        top: 10px;
        left: 10px;
        width: 110px;
        height: 110px;
        background: {
          repeat: no-repeat;
          image: url("/static/frontend/dist/images/s3logo.png");
          //image: inline-image("../images/s3logo.png");
          size: cover;
          position: center center;
        };
      }
    }
  }


  &.loading-active {
    .loader-bg {
      opacity: 1;
    }
  }
}

@keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}