.main-menu{
  text-align: justify;
  float: right;

  //width: 297px;
  //width: 80%;
  line-height: 36px;
  font-size: 0.875em;
  height: 31px;
  padding-left: 7px;

  @media screen and (min-width: $break-desktop){
    line-height: 59px;
    height: 59px;
    padding-left: 9px;
  }

  &:after {
    content: '';
    width: 100%;
    height: 0;
    display: inline-block;
  }

  li{
    text-align: center;

    a{
      color: $blue_a;
      line-height: 1;
    }
  }
}
