.off-canvas {
  @include breakpoint(large up) {
    display: none;
  }

  &.position-left {
    transform: translateX(-100%);

    &.is-transition-push {
      &:after {
        height: auto;
        min-height: 100%;
        bottom: 0;
      }
    }
  }

  &.is-open {
    transform: translate(0, 0);
    padding-bottom: 1.5em;
  }
}
