.off-canvas {
  .menu-title {
    background: #1e3f51;
    color: #90a6b1;
    text-transform: uppercase;
    padding:  0 rem-calc(20);

    h3 {
      font-size: rem-calc(19);
      line-height: rem-calc(46);
      margin: 0;
      font-weight: 500;
      color: inherit;
    }
  }

  .accordion {
    margin-bottom: 0;

    .accordion-item {
      background-color: #f5f5f5;

      &.is-active {
        background-color: #dfe5e8;
      }

      .accordion-title {
        font: {
          size: rem-calc(16);
        }
        padding: rem-calc(5) rem-calc(30) rem-calc(5) 0;
        border: 1px solid #cbcbcb;
        border-bottom: inherit;
        line-height: 39px;

        @include breakpoint(medium up) {
          font: {
            size: rem-calc(19);
            weight: bold;
          }
        }

        img {
          width: rem-calc(30);
          height: rem-calc(30);
        }

        span {
          display: inline-block;
          line-height: 1.2;
          vertical-align: middle;
        }

        &:before {
          line-height: 1;
          margin-top: -.7rem;
          font: {
            size: 1.5rem
          };

          @include breakpoint(sm down) {
            margin-top: -.6rem;
            font: {
              size: 1.3rem
            };
          }
        }
      }

      .accordion-content {
        padding: 0;

        a {
          display: block;
          padding: 0 8px 0 14px;
          line-height: 49px;
          font-size: rem-calc(14);
          color: #000;
          border-bottom: 1px solid #e2e2e2;

          background: url('../images/icons/link_arrow_right_dark.svg') right rem-calc(16) center no-repeat;
          background-size: rem-calc(11);

          @include breakpoint(sm down) {
            background-size: rem-calc(9);
            font-size: rem-calc(13);
          }

          .count {
            color: #838383;
          }

          //&:after {
          //  content: '';
          //  display: inline-block;
          //  width: 11px;
          //  height: 11px;
          //  float: right;
          //  font-style: normal;
          //  margin: 15px 0;
          //}
        }

      }
    }
  }
}
