
.product-items {
  margin-left: rem-calc(-10);
  margin-right: rem-calc(-10);
  //display: flex;
  display: none;

  //transition: 0.4s all;
  transition: height 1s;

  .item {
    position: relative;
    display: flex;
    flex-direction: row;


    .icon {
      line-height: rem-calc(24);

      i {
        display: inline-block;
        vertical-align: middle;
        margin-right: 1%;
        width: rem-calc(16);
        height: rem-calc(20);
      }
    }

    &:after {
      content: '';
      clear: both;
      display: block;
    }

    &:nth-last-child(1) {
      margin-bottom: 20px;
    }


    .image_container {
      position: relative;
      text-align: center;


      a {
        //display: block;
        display: inline-block;
      }

      img {
        display: inline-block;
        width: auto;
        max-height: rem-calc(190);
        min-height: rem-calc(100);
      }

      @include breakpoint(small) {
        .not-avail {
          min-height: rem-calc(120);
        }
      }

      .button-quick-view {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .splash {
        position: absolute;
        display: inline-block;
        text-transform: uppercase;
        text-align: center;

        font: {
          size: rem-calc(16);
          weight: bold;
        }

      }

      .splash-new {
        height: 47px;
        line-height: 49px;
        border-radius: 24px;
        background-color: #ff3323;
        color: #ffffff;
        width: 47px;
        //top: 6%;
        top: -4%;
        //right: 10%;
        right: -4%;
      }

      .splash-sale {
        height: 20px;
        line-height: 22px;
        padding: 0 6px;
        background-color: #ffae21;
        color: #ffffff;
        font-size: rem-calc(14);
        bottom: 0;
        left: 0;
      }

    }

    .info_container {
      color: #333;


      .title {
        @include breakpoint (medium down) {
          font: {
            size: rem-calc(16);
          }
        }
        @include breakpoint (small down) {
          font: {
            size: rem-calc(14);
          }
        }

        &, a {
          color: black;
          text-align: left;

          //overflow: hidden;
          //max-height: 3em;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .sku {
        margin: 5px 0;
        line-height: 1.1;
        font: {
          size: rem-calc(16);
        };

        .value {
          color: #28862f;
          text-transform: uppercase;
          font: {
            weight: 400;
          }
        }

        .has-tip {
          width: 19px;
          height: 19px;
          line-height: 1.3;
          color: #ffffff;
          background-color: #cfcfcf;
          font-weight: bold;
          cursor: pointer;
          border-radius: 10px;
          text-align: center;
          display: inline-block;
          border: none;
        }
      }

      .description, .brand {
        @include breakpoint (medium down) {
          font: {
            size: rem-calc(14)
          }
        }

        @include breakpoint (small down) {
          font: {
            size: rem-calc(12)
          }
        }
      }

      .parameters {
        margin-top: rem-calc(10);
        font: {
          size: rem-calc(14);
        }

      }

      .price_container {
        margin-top: 3%;

        .old, .current {
          display: inline-block;
          padding-right: 3%;
        }
        .price {
          padding: 0;

          font: {
            size: rem-calc(14)
          }
        }


      }
    }

    .price_container {


      .price {
        padding-left: 3%;
      }

      .old {
        color: #5c5c5c;

        .price {
          text-decoration: line-through;
        }
      }

      .current {
        .price {
          font: {
            weight: bold;
          }
        }
      }
    }

    .cart_price_container {

      .cart_quantity {
        line-height: 0;
        //margin: 5% 0;
        margin: 0.3em 0;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content : space-between;
        align-items: center;


        label {
          flex: 0 0 20%;
          //width: 20%;
          //display: inline-block;
        }

        .quantity-group {

          flex: 0 0 60%;
          //width: 60%;

          @include breakpoint(medium down) {
            input {
              //width: 6em;
            }
          }

        }


      }

      .info {
        padding: rem-calc(3) 0 rem-calc(3) rem-calc(30);
        background-size: rem-calc(20) !important;
        background: no-repeat left center;
        line-height: 1;
      }

      .lead-time {
        background-image: url("../images/icons/item_product/lead_time.svg");
      }

      .multiply-quantity {
        background-image: url("../images/icons/item_product/multiples_items.svg") ;
      }

      .last-items {
        background-image: url("../images/icons/item_product/last_items.svg");
      }




      .cart_add {
        .add {
          display: flex;
          align-items: center;
          justify-content: center;

          width: 100%;
          text-align: center;
          text-transform: uppercase;
          line-height: rem-calc(42);
          height: rem-calc(42);
          font: {
            size: rem-calc(18);
            weight: 900;
          }

          &:before {
            content: '';
            display: inline-block;
            width: 35px;
            height: 27px;
            background: url("../images/icons/add_to_cart.svg") center center no-repeat;
            background-size: 90%;
          }
        }
      }

      .subtotal_container {
        font: {
          size: rem-calc(14);
        }
      }

      .out-of-stock {
        .title {
          color: red;

          i {
            background: url("../images/icons/item_product/out_of_stock.svg") center center no-repeat;
          }
        }

        .eta-date {
          color: #5a5a5a;
          font-size: rem-calc(14);
          padding: rem-calc(3) 0;
        }
      }
    }

    @include breakpoint(large up) {
      &:hover {
        .button-quick-view {
          display: block !important;
        }

        .splash-sale {
          display: none;
        }
      }
    }
  }


  &.list-view {
    flex-direction: column;
    display: flex;

    .show-for-tile {
      display: none;
    }

    .item {
      //flex: 1 0 100%;
      flex: 1 0;
      flex-wrap: nowrap;

      padding-top: 15px;
      padding-bottom: 14px;

      margin-bottom: 15px;
      border-bottom: 1px solid #cccccc;

      @include breakpoint(large up) {
        padding-right: 2%;
      }

      @include breakpoint (medium down) {
        padding: 14px 1.4%;

        &:first-child {
          border-top: 1px solid #cccccc;
        }
      }

      @include breakpoint (sm down) {
        margin-bottom: 0;
      }



      @include breakpoint (small down) {
        padding-bottom: 12px;

        .image_container {
          img {
            display: inline-block;
            max-height: rem-calc(120);
          }
        }
      }

      .image_container {
        flex: 0 0 40%;

        @include breakpoint(medium up) {
          flex: 0 0 20%;
        }

        @include breakpoint(medium down) {
          padding-right: 3%;
        }
      }

      .info_container {
        //flex-grow: 3;
        flex: 0 0 60%;
        padding: 0 3%;

        @include breakpoint(medium) {
          flex: 0 0 50%;
        }

        @include breakpoint(large up) {
          flex: 0 0 60%;
        }
      }

      .cart_price_container {
        flex: 0 0 30%;
        display: none;

        @include breakpoint(medium up) {
          display: block;
        }

        @include breakpoint(large up) {
          flex:0 0 20%;
        }

        .quantity-group {
          input {
            max-width: 8em;
          }

          .btn {
            max-width: 1.8em;
          }
        }

        .price_container {
          .old, .current {
            display: block;
          }
        }
      }
    }
  }

  &.tile-view {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1.4% 0;

    @include breakpoint(large up) {
      margin-left: -#{map-safe-get($grid-column-gutter, medium) / 2};
      margin-right: -#{map-safe-get($grid-column-gutter, medium) / 4};
    }
    @include breakpoint(xl up) {
      margin-left: -#{map-safe-get($grid-column-gutter, medium) / 2};
      margin-right: -#{map-safe-get($grid-column-gutter, medium) / 2};
    }

    .show-for-list {
      display: none;
    }

    .item {
      flex-direction: column;
      flex: 0 0 50%;
      align-items: stretch;
      //padding: 15px 1.75% ;
      padding: 15px ;


      @media screen and (min-width: rem-calc(600)) {
        flex: 0 0 33%;
      }

      @media screen and (min-width: rem-calc(765)) {
        flex: 0 0 25%;
      }

      @include breakpoint(xl up) {
        flex: 0 0 20%;
      }

      .image_container {
        display: block;
        padding-bottom: 2%;
        height: rem-calc(190);

        @include breakpoint(sm down) {
          height: rem-calc(130);

          img {
            max-height: rem-calc(125);
          }
        }

        &, a {
          text-align: center;
        }

        a {
        }

        .link {
          height: 100%;
          width: 100%;
          overflow: hidden;
          display: block;
        }

        .not-avail {
          padding: 10%;
          max-width: 100%;
          min-height: 11rem;
        }

        img {
          //width: 100%;
          height: auto;
          //max-height: 219px;
          min-height: 0;
        }

        .splash-sale {
          bottom: 2%;
        }

        .button-quick-view {
          bottom: 2%;
        }

        //@include breakpoint(medium up) {
        //
        //  height: rem-calc(200);
        //}
        //
        //@include breakpoint(large up) {
        //  height: rem-calc(220);
        //}

      }

      .info_container {
         .description, .parameters, .brand { display: none; }

        //.sku {
        //  font: {
        //    size: rem-calc(14);
        //  }
        //}

        .title {
          height: 2.8em;
          margin: 0;
          overflow: hidden;
          font: {
            size: rem-calc(16);

          };

          &, a {
            color: #5c5c5c;
          }

          @include breakpoint(large up) {
            font: {
              size: rem-calc(14);
            }
          }
        }
      }

      .cart_price_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        line-height: 1;

        .price_container {
          flex: 0 0 100%;
          order: 0;
          padding: .3em 0;

          font: {
            size: rem-calc(14);
          }


          .old, .current {
            display: inline-block;
            margin-right: 5%;
          }

          .title {
            display: none;
          }

          .price {
            padding: 0;
          }
        }

        .out-of-stock {
          order: 1;
          flex: 0 0 100%;
        }

        .cart_quantity {
          flex: 0 0 70%;
          order: 2;
          //display: inline-block;
          margin: 0;

          @include breakpoint(sm down) {
            display: none;
          }

          label {
            display: none !important;
          }

          &:after {
            display: none;
          }

          .quantity-group {
            flex: 0 0 90%;
          }
        }

        .info_container {
          flex: 0 0 100%;
          order: 4;
          margin: 2% 0;

          .info {
            font: {
              size: rem-calc(14);
            }

            &.padding {
              padding-right: 2em;
            }
          }
        }

        .cart_add {
          order: 3;
          flex: 0 0 30%;
          line-height: 1;


          .add {
            height: 37px;
            padding: 0;

            @include breakpoint(large up) {
              height: 30px;
            }

            &:before {
              display: block;
              padding: 5%;
            }

            .text {
              display: none;
            }
          }
        }

        .subtotal_container {
          display: none;
        }
      }


      .overflow_container {
        display: none;
        flex-wrap: wrap;
        flex-direction: row;
      }


      @include breakpoint(medium up) {
        &:hover {
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);

          .overflow_container {

            display: flex;
            z-index: 100;
            background: #fff;
            top: 98%;
            left: 0;
            right:0;
            position: absolute;
            padding: 8.7%;
            padding-top: 0;
            box-shadow: 1px 5px 3px rgba(0,0,0,.3);
          }
        }
      }


    }
  }
}

.mobile, .tablet {
  &.touchevents {
    .product-items {
      &.tile-view {
        .item {
          box-shadow: none;

          .overflow_container {
            box-shadow: none;
            position: initial;
            display: flex;
            width: 100%;
            padding: 0;
          }
        }
      }
    }
  }
}