{% extends "base.html" %}

{% block header %}
<header id="header">
    <section class="header-inner row">
        <section class="columns large-12">
            <section class="logo">
                <a class="logo-link" href="/">
                    <img src="/static/dist/images/main/logo.png" alt=""/>
                    <span class="logo-text">Ākara</span>
                </a>
            </section>
        </section>
    </section>
</header>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}