{% extends request.isAjax ? 'ajax.html' : 'user/base.html' %}

{% block heading %}
{% endblock %}

{% block content %}
<section id="tabbed" class="row">
    <div class="medium-2 medium-centered columns">
        <ul class="tabs" data-tab>
            <li class="tab-title {% if not mode %}active{% endif %}"><a href="#login-form">{{ t('Login', 'user') }}</a></li>
            <li class="tab-title {% if mode == 'register' %}active{% endif %}"><a href="#registration-form">{{ t('Register', 'user') }}</a></li>
        </ul>
        <div class="tabs-content">
            <div class="login-form content {% if not mode %}active{% endif %}" id="login-form">
                <form action="{% url 'user:login' %}" method="post">
                    {% csrf_token %}
                    {{ form|safe }}
                    <p>
                        {% if param('user.user.recover') %}
                        <a class="link" href="{% url 'user:recover' %}">{{ t('Forgot password?', 'user') }}</a>
                        {% endif %}
                    </p>
                    <br/>
                    <button class="button small expanded" type="submit">{{ t('Login', 'user') }}</button>
                </form>
            </div>

            <div class="registration-form content {% if mode == 'register' %}active{% endif %}" id="registration-form">
                <form action="{% url 'user:registration' %}" method="post">
                    {% csrf_token %}
                    {{ register_form|safe }}
                    <br/>
                    <button class="button small expanded" type="submit">{{ t('Register', 'user') }}</button>
                </form>
            </div>
        </div>
    </div>
</section>


</section>
{% endblock %}
